.wrapper{
    margin: auto;
    margin-top: 5%;
    
    
   }
   
   .slider{
    width: 90%;
    margin: auto;
    transition: all 0.3s linear;
    overflow-x:scroll;     
    white-space: nowrap;
   }
   
   .slider img{
   height: 450px ;
    width: 34.7%;
   }
   
.control-slider {
    
    position: absolute;
    top: 50%;
    border-radius: 50%;
    width: 40px;
    background-color: #fff;
    line-height: 40px;
    color: #333;
    box-shadow: 0 2px 5px rgba(92, 86, 86, 0.25);
    user-select: none;
   }
   
   .btn-left {
    text-align: center;
    border: 2px solid black;
    left: 10px;
   }
   
   .btn-right {
    text-align: center;
    border: 3px solid black;
    right: 10px;
}
   